.banner1{
    height: 30vh;
    max-width: 100%;
    background-image: url(../../img/banner4.png);
    background-size: cover;
    .pn{
        @include pstyle-night;
    }
    .h3n{
        @include H3style-night;
    }
}


