.main-footer{
    background-color: $color-primary;
    .p{
        color: $color-secondary;
    }
    a{
        text-decoration: none;
        svg{
            color: $color-secondary;
        }
    }
}